extends ../layout

include ../includes/_paginate

block content
  .container  
    .bbb
      form.form-inline.search-input-group(action='/events', method='GET')
        input.form-control.mr-sm-4(type='text', name='term',placeholder='Search', aria-label='Search', value=term)
        i.fa.fa-search

    h1.main-title 
      | Events  
      
      if events.total <= 0 
        .alert.alert-info No Events Available Yet
      else
        |
        .card-body
          .events
            each event in events.docs
              .event                
                .row
                  .col-sm-3
                    a(href=`/events/${event.id}`)
                      img.card-img-top(src='images/taxi-cab-381233_1920.jpg', alt='')
                    |                 
                  .col-sm-7
                      p.card-text
                        .small= event.startTime
                      br                     
                      h6.card-title
                        a.title(href=`/events/${event.id}`)= event.title
                      br
                      p.card-text
                        .small= event.location  
                      include _question
                      
          p.card-textt
            +paginate(events, '/events', {query: "???XXX&&"})  
      a.btn.btn-primary(href='/events/new') Create Events
                   
      
