.form-group
  label(for="title") Title
  input.form-control(type="text", name="title", placeholder="이벤트의 제목을 입력하시오(필수)", value=question.title)
.form-group
  label(for="question") Content
  textarea.form-control(name="content", rows="5",placeholder="이벤트의 상세내용을 입력하시오(필수)")= question.content

.form-group
    label(for='editor') Event Description
      textarea(name='editor')= question.editor
      script.
        CKEDITOR.replace('editor');

.form-group
  label(for="location") Location
  input.form-control(type="text", name="location", placeholder="이벤트 위치를 입력하시오(필수)", value=question.location)


.form-group
  label(for="location") Location
  |     
  p
    |원하는 장소를 클릭하세요!
  | 
  .map_wrap
    #map(style='width:100%;height:100%;position:relative;overflow:hidden;')
    |     
  .hAddr  
    input.form-control(type="text", id="location_map",name="location_map", value=question.location_map)
  .hAddr    
    input.form-control(type="hidden", id="lat",name="lat", value=question.lat)        
    input.form-control(type="hidden", id="lng",name="lng", value=question.lng)        
    span#centerAddr
      script(type='text/javascript', src='//dapi.kakao.com/v2/maps/sdk.js?appkey=7bd9912d6b7fb647f736ab86b4da94d5&libraries=services')
      script.
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
          center: new daum.maps.LatLng(37.5777249,126.9258444), // 지도의 중심좌표
          level: 5 // 지도의 확대 레벨
        };
        // 지도를 생성합니다
        var map = new daum.maps.Map(mapContainer, mapOption);
        var detailAddr;
        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new daum.maps.services.Geocoder();
        var marker = new daum.maps.Marker(), // 클릭한 위치를 표시할 마커입니다
          infowindow = new daum.maps.InfoWindow({
          zindex: 1
        }); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다
        // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
        searchAddrFromCoords(map.getCenter(), displayCenterInfo);
        // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
        daum.maps.event.addListener(map, 'click', function(mouseEvent) {
          searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
          if (status === daum.maps.services.Status.OK) {
            detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
            detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
            var content = '<div class="bAddr">' +
            '<span class="title">법정동 주소정보</span>' +
            detailAddr +
            '</div>';
            document.getElementById('location_map').value= detailAddr;
            //- console.log(mouseEvent.latLng.getLat(), mouseEvent.latLng.getLng());
            //- document.getElementById('location_latLng').value= mouseEvent.latLng;
            //- 
            $('#lat').val(mouseEvent.latLng.getLat());
            $('#lng').val(mouseEvent.latLng.getLng());
            // 마커를 클릭한 위치에 표시합니다
            marker.setPosition(mouseEvent.latLng);
            marker.setMap(map);
            // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
            infowindow.setContent(content);
            infowindow.open(map, marker);
          }
        });
        });
        // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
        daum.maps.event.addListener(map, 'idle', function() {
          searchAddrFromCoords(map.getCenter(), displayCenterInfo);
        });
        function searchAddrFromCoords(coords, callback) {
          // 좌표로 행정동 주소 정보를 요청합니다
          geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
        }
        function searchDetailAddrFromCoords(coords, callback) {
          // 좌표로 법정동 상세 주소 정보를 요청합니다
          geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }
        // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
        function displayCenterInfo(result, status) {
          if (status === daum.maps.services.Status.OK) {
            var infoDiv = document.getElementById('centerAddr');
            infoDiv.innerHTML = result[0].address_name;
          }
        }


      
.form-group
  label(for="topic") Event Topic &nbsp;
  select.form-control(name="topic")= question.topic
    option(value="Music") Music
    option(value="Food and Drink") Food and Drink
    option(value="Class") Class
    option(value="Arts") Arts
    option(value="Party") Party
    option(value="Sports and Wellness") Sports and Wellness
    option(value="Networking")  Networking 

.form-group
  label(for="eventType") Event Type &nbsp;
  select.form-control(name="eventType")= question.eventType
    option(value="Health & Wellness") Health and Wellness
    option(value="Performing & Visual Arts") Performing and Visual Arts
    option(value="Goverment & Politics") Goverment and Politics
    option(value="Religion & Spirituality") Religion and Spirituality
    option(value="School Activity") School Activity
    option(value="Seminar") Seminar
    option(value="Others")  Others

.form-group
  label(for="startTime") Start Time
  input.form-control(type="datetime-local", name="startTime", value=question.startTime)
.form-group
  label(for="endTime") End Time
  input.form-control(type="datetime-local", name="endTime", value=question.endTime)
.form-group
  label(for="RegisOrgan") 등록 조직
  input.form-control(type="text", name="RegisOrgan", placeholder="이벤트 등록 조직의 이름을 입력하시오(선택)", value=question.RegisOrgan)
.form-group
  label(for="RegisOrganCon") 등록 조직 설명
  textarea.form-control(name="RegisOrganCon", rows="3",placeholder="이벤트 등록 조직이 상세내용을 입력하시오(선택)")= question.RegisOrganCon
.form-group
  label(for="price") 티켓 가격
    input(type="radio", name="ticket", value="free", checked="")
    |	free&nbsp;
    input(type="radio", name="ticket", value="nofree")
    |	paid
    input.form-control(type="text", placeholder="가격을 입력하시오", id="price",name="price", value=question.price)
.form-group
  label(for="participantLimit") 참여자 제한 인원수
  input.form-control(type="text", name="participantLimit", placeholder="(선택사항)", value=question.participateLimit)
.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")
script.
  $(function() {
  	$('#price').hide();
  	$("input[name='ticket']:radio").change(function() {
  		var serviceType = this.value;

  		if (serviceType == "free") {
  			$('#price').hide();
  		}

  		if (serviceType == "nofree") {
  			$('#price').show();
  		}
  	});
  });
