.form-group
  label(for="title") Title
  input.form-control(type="text", name="title", placeholder="이벤트의 제목을 입력하시오(필수)", value=question.title)
.form-group
  label(for="question") Content
  textarea.form-control(name="content", rows="5",placeholder="이벤트의 상세내용을 입력하시오(필수)")= question.content

.form-group
    label(for='editor') Event Description
      textarea(name='editor')= question.editor
      script.
        CKEDITOR.replace('editor');

.form-group
  label(for="location") Location
  input.form-control(type="text", name="location", placeholder="이벤트 위치를 입력하시오(필수)", value=question.location)

.form-group
  label(for="topic") Event Topic &nbsp;
  select.form-control(name="topic")= question.topic
    option(value="Music") Music
    option(value="Food and Drink") Food and Drink
    option(value="Class") Class
    option(value="Arts") Arts
    option(value="Party") Party
    option(value="Sports and Wellness") Sports and Wellness
    option(value="Networking")  Networking 

.form-group
  label(for="eventType") Event Type &nbsp;
  select.form-control(name="eventType")= question.eventType
    option(value="Health & Wellness") Health and Wellness
    option(value="Performing & Visual Arts") Performing and Visual Arts
    option(value="Goverment & Politics") Goverment and Politics
    option(value="Religion & Spirituality") Religion and Spirituality
    option(value="School Activity") School Activity
    option(value="Seminar") Seminar
    option(value="Others")  Others

.form-group
  label(for="startTime") Start Time
  input.form-control(type="datetime-local", name="startTime", value=question.startTime)
.form-group
  label(for="endTime") End Time
  input.form-control(type="datetime-local", name="endTime", value=question.endTime)
.form-group
  label(for="RegisOrgan") 등록 조직
  input.form-control(type="text", name="RegisOrgan", placeholder="이벤트 등록 조직의 이름을 입력하시오(선택)", value=question.RegisOrgan)
.form-group
  label(for="RegisOrganCon") 등록 조직 설명
  textarea.form-control(name="RegisOrganCon", rows="3",placeholder="이벤트 등록 조직이 상세내용을 입력하시오(선택)")= question.RegisOrganCon
.form-group
  label(for="price") 티켓 가격
    input(type="radio", name="ticket", value="free", checked="")
    |	free&nbsp;
    input(type="radio", name="ticket", value="nofree")
    |	paid
    input.form-control(type="text", placeholder="가격을 입력하시오", id="price",name="price", value=question.price)

.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")
script.
  $(function() {
  	$('#price').hide();
  	$("input[name='ticket']:radio").change(function() {
  		var serviceType = this.value;

  		if (serviceType == "free") {
  			$('#price').hide();
  		}

  		if (serviceType == "nofree") {
  			$('#price').show();
  		}
  	});
  });
