extends ../layout

include ../includes/_paginate

block content
  .container  
    form.form-inline.search-input-group(action='/questions', method='GET')
      input.form-control.mr-sm-2(type='text', name='term',placeholder='Search', aria-label='Search', value=term)
      i.fa.fa-search

    h1.main-title 
      | Events  
      
      if questions.total <= 0 
        .alert.alert-info No questions available yet
      else
        |
        .card-body
          .questions
            each question in questions.docs
              .question                
                .row
                  .col-sm-3
                    a(href=`/questions/${question.id}`)
                      img.card-img-top(src='images/taxi-cab-381233_1920.jpg', alt='')
                    |                 
                  .col-sm-7
                      p.card-text
                        .small= question.startTime
                      br                     
                      h6.card-title
                        a.title(href=`/questions/${question.id}`)= question.title
                      br
                      p.card-text
                        .small= question.location  
                      include _question
                      
          p.card-textt
            +paginate(questions, '/questions', {query: "???XXX&&"})  
      a.btn.btn-primary(href='/questions/new') Create Events
                   
      
