extends ../layout

block content
  .container


    h1.main-title= question.title

    .question.show
      .row
        .col-sm-6
          | Description
          .content= question.content
          br
          | Editor Description
          .smallText!= question.editor
        .col-sm-4  
          | Location
          .smallText= question.location
          br
          | Location_Map
          .smallText!= question.location_map
          br
          | 위도와 경도
          .smallText= question.location_latLng
          br
          | Event Topic
          .smallText= question.topic
          br
          | Event Type
          .smallText= question.eventType
          br
          | Date and Time 
          .smallText= question.startTime 
          | ~
          .smallText=question.endTime
          br
          | Price:
          br
          if (!question.price==null) 
            .smallText=question.price
          else 
            | Free
          
          br
          br
          | Organizer :
          .smallText=question.RegisOrgan
          br
          | Organizer Description :
          .smallText=question.RegisOrganCon
          br
          | participants :
          .smallText= question.participantN
          
      .map_wrap
        #map(style='width:100%;height:100%;position:relative;overflow:hidden;')
        |     
      .hAddr        
        span#centerAddr
          script(type='text/javascript', src='//dapi.kakao.com/v2/maps/sdk.js?appkey=7bd9912d6b7fb647f736ab86b4da94d5&libraries=services')
          script.
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = { 
                    center: new daum.maps.LatLng(37.5777249,126.9258444), // 지도의 중심좌표 $('#question.location_latLng')
                    level: 3 // 지도의 확대 레벨
                };

            var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            // 지도를 클릭한 위치에 표출할 마커입니다
            var marker = new daum.maps.Marker({ 
                // 지도 중심좌표에 마커를 생성합니다 
                position: map.getCenter() 
            }); 
            // 지도에 마커를 표시합니다
            marker.setMap(map);
                    
                  
          
      
      include _question

      .buttons
        if currentUser
          button.btn.btn-primary.question-like-btn(data-id=question.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Like
        |
        |
        a.btn.btn-outline-dark(href=`/questions/${question._id}/participate`) Participate
        |
        |
        a.btn.btn-outline-dark(href=`/questions/${question._id}/favorite`) Add Favorite
        br
        br
        
        if currentUser && question.author.id == currentUser.id  
          | 
          a.btn.btn-outline-secondary(href=`/questions/${question.id}/edit`) Edit
          | 
          a.btn.btn-outline-danger.delete-btn(href="#", data-url=`/questions/${question.id}?_method=delete`) Delete
          |
          |
          a.btn.btn-outline-dark(href=`/questions/${question.id}/participantL`) Participate Lists
          |
          |
          a.btn.btn-outline-dark(href=`/questions/${question.id}/survey`) Participant Survey Result
    if question.numAnswers > 0
      hr
      h3 #{question.numAnswers} Answer(s)
      .answers.show
        each answer in answers
          include _answer

    form(action=`/questions/${question.id}/answers`, method='POST')
      .form-group
        label(for='answer') Your Answer
        textarea.form-control(name="content", rows="5")
      button.btn.btn-primary(type="submit") Post Your Answer
      br
      br
  script.
    $(function() {
      $('.delete-btn').click(function() {
        if (confirm('Are you sure to delete?')) {
          location = $(this).data('url');
        }
        return false;
      });
    });
  
  script(src='/javascripts/question_client.js')
