extends ../layout

block content
  .container


    h1.main-title= question.title

    .question.show
      .row
        .col-sm-6
          | Description
          .content= question.content
          br
          | Editor Description
          .smallText!= question.editor
        .col-sm-4  
          | Location
          .smallText= question.location
          br
          | Event Topic
          .smallText= question.topic
          br
          | Event Type
          .smallText= question.eventType
          br
          | Date and Time 
          .smallText= question.startTime 
          | ~
          .smallText=question.endTime
          br
          | Price:
          br
          if (!question.price==null) 
            .smallText=question.price
          else 
            | Free
          
          br
          br
          | Organizer :
          .smallText=question.RegisOrgan
          br
          | Organizer Description :
          .smallText=question.RegisOrganCon
          br
          | participants :
          .smallText= question.participantN
          
      include _question

      .buttons
        button.btn.btn-primary #[i.fa.fa-thumbs-up] Like
        |
        |
        a.btn.btn-outline-dark(href=`/questions/${question._id}/participate`) Participate
        |
        |
        a.btn.btn-outline-dark(href=`/questions/${question._id}/favorite`) Add Favorite
        br
        br
        
        if currentUser && question.author.id == currentUser.id  
          | 
          a.btn.btn-outline-secondary(href=`/questions/${question.id}/edit`) Edit
          | 
          a.btn.btn-outline-danger.delete-btn(href="#", data-url=`/questions/${question.id}?_method=delete`) Delete
          |
          |
          a.btn.btn-outline-dark(href=`/questions/${question.id}/participantL`) Participate Lists
          |
          |
          a.btn.btn-outline-dark(href=`/questions/${question.id}/survey`) Participant Survey Result
    if question.numAnswers > 0
      hr
      h3 #{question.numAnswers} Answer(s)
      .answers.show
        each answer in answers
          include _answer

    form(action=`/questions/${question.id}/answers`, method='POST')
      .form-group
        label(for='answer') Your Answer
        textarea.form-control(name="content", rows="5")
      button.btn.btn-primary(type="submit") Post Your Answer
      br
      br
  script.
    $(function() {
      $('.delete-btn').click(function() {
        if (confirm('Are you sure to delete?')) {
          location = $(this).data('url');
        }
        return false;
      });
    });
